## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
print(class_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt_1 = class_counts[class_counts > 1]
print(class_counts_gt_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])
y = encoded_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=len(X_train_scaled[0]), activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 9s 6ms/step - loss: 0.5719 - accuracy: 0.7159
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5553 - accuracy: 0.7289
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7288
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7301
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7319
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7323
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7321
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7335
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7341
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7338
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7339
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7346
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7345
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7349
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7346
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7360
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7369
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7353
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7365
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7374
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7360
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7358
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7358
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7371
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7375
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7376
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7382
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7377
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7373
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7379
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7380
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7372
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7384
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7382
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7380
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7386
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7383
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7377

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5566 - accuracy: 0.7311 - 693ms/epoch - 3ms/step
Loss: 0.5565821528434753, Accuracy: 0.7310787439346313

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(